@media (max-width:  1440px){
    .hero{
        padding: 0;
        flex-direction: column;
    }
    .predstavljanje{
        width: 100%;
        padding: 0;
    }
    .predstavljanje h1{
        font-size: 40px;
    }
    .hero-gornji-deo{
        flex-direction: column;
        gap: 20px;
    }

    .hero-statistika{
        flex-wrap: wrap;
        padding: 0;
    }

    .statistika-kartica{
        width: 45%;
    }

    .obrazovanje-info{
        padding: 30px;
        align-items: center;
        gap: 40px;
    }

    .projekti-grid{
        width: 90%;
    }
}

@media (max-width: 992px){
    .hero{
        padding: 0;
        flex-direction: column;
    }
    .predstavljanje{
        width: 100%;
        padding: 0;
    }
    .predstavljanje h1{
        font-size: 40px;
    }
    .hero-gornji-deo{
        flex-direction: column;
        gap: 20px;
    }

    .hero-statistika{
        flex-wrap: wrap;
        padding: 0;
    }

    .statistika-kartica{
        width: 45%;
    }

    .o-meni-info{
        flex-direction: column;
        padding: 20px;
        align-items: center;
        gap: 0;
    }

    .o-meni-info p{
        max-width: 80%;
    }

    .obrazovanje-info{
        flex-direction: column;
        padding: 30px;
        align-items: center;
        gap: 40px;
    }

    .grid-projekat{
        grid-column: span 3;
    }

    .projekat-head img{
        width: 100%;
        height:220px;
        object-fit:cover;
        border-radius: 10px;
    }

    .projekti-grid{
        width: 90%;
    }

    .kontakt-sadrzaj{
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
        gap: 30px;
    }

}

/* tablet */
@media (max-width: 768px){
    .hero{
        padding: 0;
        flex-direction: column;
    }
    .predstavljanje{
        width: 100%;
        padding: 0;
    }
    .predstavljanje h1{
        font-size: 40px;
    }
    .hero-gornji-deo{
        flex-direction: column;
        gap: 20px;
    }

    .hero-statistika{
        flex-wrap: wrap;
        padding: 0;
    }

    .statistika-kartica{
        width: 40%;
    }

    .o-meni-info{
        flex-direction: column;
        padding: 20px;
        align-items: center;
        gap: 0;
    }

    .o-meni-info p{
        max-width: 80%;
    }

    .obrazovanje-info{
        flex-direction: column;
        padding: 30px;
        align-items: center;
        gap: 40px;
    }

    .grid-projekat{
        grid-column: span 3;
    }

    .projekat-head img{
        width: 100%;
        height:220px;
        object-fit:cover;
        border-radius: 10px;
    }

    .projekti-grid{
        width: 90%;
    }

    .kontakt-sadrzaj{
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
        gap: 30px;
    }

}

/* telefon */
@media (max-width: 576px){
    header{
        padding: 0 20px;
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .logo a{
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        border-radius: 12px;
        padding: 12px;
        background: #65b1cf;
        background: linear-gradient(180deg,rgba(101, 177, 207, 1) 0%, rgba(87, 199, 133, 1) 50%);
    }

    .logo h3{
        font-size: 20px;
    }

    .hero{
        padding: 0;
        flex-direction: column;
    }

    .predstavljanje{
        width: 100%;
        padding: 0;
    }

    .predstavljanje h1{
        font-size: 40px;
    }

    .kartica-objekat code {
        font-size: 13px;
    }

    .hero-gornji-deo{
        flex-direction: column;
        gap: 20px;
    }

    .hero-statistika{
        flex-wrap: wrap;
        padding: 0;
    }

    .statistika-kartica{
        width: 100%;
    }

    .statistika-kartica i{
        font-size: 32px;
        width: 55px;
        height: 55px;
    }

    .o-meni-info{
        flex-direction: column;
        padding: 30px;
        align-items: center;
        gap: 0;
    }

    .o-meni-info p{
        max-width: 80%;
    }

    .obrazovanje-info{
        flex-direction: column;
        padding: 30px;
        align-items: center;
        gap: 40px;
    }

    .grid-projekat{
        grid-column: span 6;
    }

    .projekat-head img{
        width: 100%;
        height:220px;
        object-fit:cover;
        border-radius: 10px;
    }

    .projekti-grid{
        width: 90%;
    }

    .kontakt-sadrzaj{
        flex-direction: column;
    }

    .kontakt-info{
        margin: auto;
    }

    .footer{
        flex-direction: column;
        gap: 30px;
    }

    .vestina{
        min-width: 160px;
    }

    .obr-kartica{
        width: auto;
    }

    .kontakt-sadrzaj{
        margin: auto;
    }

    .kontakt-info{
        margin: auto;
        max-width: 100%;
    }

    .container{
        padding: 0;
    }

    .kontakt p{
        max-width: 80%;
        text-align: center;
    }

}
