@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url(../img/CODE_BG_TEST.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    width: 95%;
    background-color: #fff;
    min-height: 80px;
    justify-self: center;
    margin-top: 20px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.logo a{
    text-decoration: none;
    width: 55px;
    height: 55px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    border-radius: 12px;
    padding: 14px;
    background: #65b1cf;
    text-align: center;
    background: linear-gradient(180deg,rgba(101, 177, 207, 1) 0%, rgba(87, 199, 133, 1) 50%);
}

.logo h3{
    font-size: 24px;
}

.nav-link{
    font-size: 18px;
    transition: 0.2s;
}

.nav-link:hover{
    color: rgb(97, 95, 257) !important;
}

main{
    padding: 180px 0 60px 0;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 80px 80px;
    width: 80%;
    color: #f6f6f6;
    border-radius: 12px;
    margin: auto;
}

.hero-gornji-deo{
    display: flex;
    justify-content: space-between;
}

.predstavljanje{
    display: flex;
    flex-direction: column;
    width: 50%;
    /*padding-left: 80px;*/
    gap: 20px;
}

.predstavljanje h1{
    font-size: 55px;
    font-weight: 700;
}

.predstavljanje button{
    background-color: rgb(97, 95, 257);
    color: #fff;
    border-radius: 12px;
    width: 180px;
    height: 55px;
    font-size: 18px;
    border: 2px solid rgb(97, 95, 257);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.predstavljanje a{
    text-decoration: none;
}

.predstavljanje button:hover{
    background-color: #fff;
    color: rgb(97, 95, 257);
    border-radius: 16px;
}

.kartica-koda {
    width: 100%;
    max-width: 450px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border: 1px solid #333;
}

.ime-fajla {
    background-color: #252526;
    padding: 12px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #2d2d2d;
}

.ime-fajla .naslov-editor {
    color: #858585;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.kartica-objekat {
    padding: 18px;
}

.kartica-objekat pre {
    white-space: pre-line;
}

.kartica-objekat code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 14px;
    white-space: pre-line;
}

.konstanta {
    color: #569cd6;
}
.polje {
    color: #9cdcfe;
}
.string {
    color: #ce9178;
}

.hero-statistika{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 80px;
    gap: 30px;
}

.statistika-kartica{
    display: flex;
    padding: 22px;
    border-radius: 10px;
    gap: 20px;
    background-color: rgb(30, 41, 57, 0.9);
    border: 1px solid #569cd6;
    align-items: center;
}

.statistika-kartica i{
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(97, 95, 257);
    text-align: center;
}

.statistika-kartica p{
    color: #99a1af;
    margin: 0;
}

.o-meni{
    width: 100%;
    background-color: #002437;
    min-height: 400px;
    border-top: 3px solid #569cd6;
    border-bottom: 3px solid #569cd6;
    color: #fff;
    margin-top: 60px;
}

.o-meni h2{
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
}

.o-meni-info{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 180px;
}

.o-meni-info p{
    max-width: 40%;
    text-align: justify;
    font-size: 18px;
    margin-top: 30px;
}

.o-meni-info img{
    border-radius: 12px;
    border: 3px solid #569cd6;
    width: 300px;
    max-height: 430px;
}

.obrazovanje{
    width: 100%;
    min-height: 400px;
    color: #fff;
    margin-top: 60px;
}

.obrazovanje h2{
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
}

.obrazovanje-info{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 180px;
}

.obr-kartica{
    width: 400px;
    padding: 22px;
    border-radius: 12px;
    background-color: rgb(30, 41, 57, 0.9);
    border: 1px solid #569cd6;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 20px 20px;
    transition: 0.4s ease-in-out;
}

.obr-kartica:hover{
    background-color: rgb(97, 95, 257);
    transform: translateY(-20px);
}

.card-body{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.vestine{
    width: 100%;
    min-height: 400px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
}

.vestine h2{
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
}

.vestine p{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
}

.vestina{
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 18px;
    padding: 24px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
    transition:.3s;
    width: 200px;
    min-width: 180px;
    text-align: center;
    height: 200px;
}

.vestina:hover{
    transform: translateY(-8px);
    border-color: #569cd6;
    box-shadow:
            0 10px 30px rgba(231, 231, 231, 0.25)
}

.vestina svg{
    width:45px;
    height:45px;
}

.projekti{
    width: 100%;
    min-height: 400px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
}

.projekti h2{
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
}

.projekti-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    width: 70%;
    margin: 40px auto;
}

.grid-projekat{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(30,41,57,.85);
    backdrop-filter: blur(10px);
    border:1px solid rgba(86,156,214,.25);
    overflow:hidden;
    border-radius:18px;
    transition: 0.3s ease;
    padding: 20px;
    grid-column: span 2;
    grid-row: span 2;
}

.grid-projekat:hover{
    transform: translateY(-8px);
    border-color:#569cd6;
    box-shadow:
            0 10px 30px rgba(0,0,0,.35),
            0 0 25px rgba(86,156,214,.15);
}

.projekat-head{
    width: 100%;
    position: relative;
}

.projekat-head::after{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
            to top,
            rgba(15,23,42,.8),
            rgba(15,23,42,0)
    );
    border-radius:10px;
}

.projekat-head img{
    width: 100%;
    height:220px;
    object-fit:cover;
    border-radius: 10px;
}

.status-projekta{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 30px;
}

.datum-projekta{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 30px;
}

.status-zelena{
    color: #22c55e;
    border: 2px solid #22c55e;
    background-color: rgba(34, 197, 94, 0.15);
}

.status-zuta{
    color: #facc15;
    border: 2px solid #facc15;
    background-color: rgba(250, 204, 21, 0.15)
}

.status-crvena{
    color: #ef4444;
    border: 2px solid #ef4444;
    background-color: rgba(239, 68, 68, 0.15)
}

.projekat-sredina h3{
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
}

.projekat-link button{
    background-color: rgb(97, 95, 257);
    color: #fff;
    border-radius: 12px;
    width: 150px;
    height: 55px;
    font-size: 17px;
    border: 2px solid rgb(97, 95, 257);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projekat-link a{
    text-decoration: none;
}

.kontakt h2{
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
}

.kontakt p{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
}

.kontakt-sadrzaj{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    gap: 50px;
}

.kontakt-info{
    display: flex;
    flex-direction: column;
    background: rgba(30,41,57,.85);
    backdrop-filter: blur(10px);
    border:1px solid rgba(86,156,214,.25);
    overflow:hidden;
    border-radius:18px;
    padding: 40px;
    gap: 20px;
    height: 100%;
}

.kontakt-info h4{
    font-weight: 700;
}

.info-podatak{
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 18px;
    padding: 20px;
    display: flex;
    gap: 18px;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.info-podatak:hover{
    transform: translateY(-8px);
    border: 1px solid #569cd6;
}

.info-podatak h5{
    font-size: 18px;
    font-weight: 600;
    word-break: break-word;
}

.info-podatak p{
    margin: 0;
    padding: 0;
    color: #99a1af;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}

.info-ikonica{
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #615ffe;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-ikonica i{
    color: #fff;
    font-size: 18px;
}

.info-drustvene{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.kontakt-forma{
    background: rgba(30,41,57,.85);
    backdrop-filter: blur(10px);
    border:1px solid rgba(86,156,214,.25);
    overflow:hidden;
    border-radius:18px;
    padding: 40px;
    gap: 20px;
}

.kontakt-forma h4{
    font-weight: 700;
    margin-bottom: 20px;
}

.kontakt-forma form input, .kontakt-forma form textarea{
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 12px;
    padding: 10px;
}

.kontakt-forma form input:focus, .kontakt-forma form textarea:focus{
    outline: none;
    background: rgba(255, 255, 255, .08);
}

.kontakt-forma form input::placeholder, .kontakt-forma form textarea::placeholder {
    color: #99a1af;
}

.kontakt-forma form input{
    color: #99a1af !important;
}

.kontakt-forma form button{
    background-color: #615ffe;
    color: #fff;
    padding: 14px 20px;
    border-radius: 12px;
    width: 100%;
}

.kontakt-forma form{
    display: flex;
    flex-direction: column;
}

.footer{
    background: rgba(10,18,32,.95);
    border-top: 1px solid rgba(86,156,214,.25);
    min-height: 180px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer p{
    margin-bottom: 0;
    margin-top: 20px;
}

.pdf{
    display: flex;
    color: #fff;
    gap: 8px;
    transition: 0.3s;
}

.pdf i{
    transition: 0.3s;
}

.pdf:hover, .pdf:hover i{
    color: #615ffe;
}

